<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
Options +FollowSymLinks
    RewriteEngine On

#RewriteCond %{HTTP_HOST} ^tbm.com\.my$ [NC]
#RewriteRule ^(.*)$ http://www.tbm.com.my/$1 [R=301,L]
	
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
